.project-main-box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 13vw;
}
.project-main-box .color-fill {
    transition: 0.5s;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    opacity: 0;
}
.project-main-box:hover .color-fill {
    transition: 0.5s;
    opacity: 0.85;
}
.project-main-box .bg-image{
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-main-box .content {
    opacity: 0;
    transition: 0.8s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: fit-content;
}

.project-main-box:hover .content {
    transition: 0.8s;
    display: block;
    opacity: 1;
}

.project-main-box .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.project-main-box h2 {
    margin: 0;
    font-size: 1rem;
}
.project-main-box h3 {
    font-size: 1rem;
    margin: 0;
    color: var(--orange-accent);
}
.project-main-box p {
    font-size: 1rem;
    margin: 0;
    margin-top: 20px;
    width: 80%;
}
.project-main-box .stack-icon:nth-child(odd) {
    color: var(--orange-accent);
    font-size: 1.25rem;
    margin-left: 10px;
}
.project-main-box .stack-icon:nth-child(even) {
    color: var(--red-accent);
    font-size: 1.25rem;
    margin-left: 10px;
}

@media only screen and (max-width: 800px) {
    .project-main-box {
        position: relative;
        width: 100%;
        height: 40vw;
        margin-bottom: 15px;
    }
    .project-main-box h2 {
        font-size: .7rem;
    }
    .project-main-box h3 {
        font-size: .7rem;

    }
    .project-main-box p {
        font-size: .7rem;
        margin-top: 10px;
    }
}