.social-media-links {
    text-align: center;
    height: 100vh;
    margin-left: 2%;
    position: fixed;
}
.line {
    background-color: white;
    width: 4px;
    height: 60vh;
    margin-bottom: 30px;
    margin-left: 15px;
}
.social-media-l {
    transition: 0.5s;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.social-media-links a {
    transition: 0.5s;
    color: white;
    font-size: 30px;
}
.social-media-l:hover a {
    transition: 0.5s;
    opacity: .5;
}
.social-media-l a:hover {
    color: var(--orange-accent);
    transition: 0.5s;
    opacity: 1;
}

