@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Source+Sans+Pro:wght@600&display=swap');

:root { 
    --bg-color: #0A192F;
    --orange-accent: #FF9315;
}

html { 
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
    height: fit-content;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
p { 
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.main-container {
    width: 100vw;
    display: flex;
    overflow: hidden;
}
.social-media {
    width: 3vw;
}
.main {
    width: 92vw;
    margin: auto;
}
.navbar { 
    margin: auto;
    position: absolute;
    left: 11.5vw;
}
.content {
    width: 80vw;
    margin: auto;
}
/* Home */

.home {
    height: 100vh;
}
.home h1{
    line-height: 10px;
    font-size: 2.5rem;
}
.home h3 {
    font-size: 1rem;
    line-height: 0;
    color: var(--orange-accent);
}
.home h4 {
    font-size: 1rem;
    color: var(--orange-accent);
}
.home .home-desc {
    font-size: 1rem;
    padding: 15px 0 25px 0;
    width: 50%;
    height: fit-content;
}
.home .btn {
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s;
    border: 3px solid var(--orange-accent);
    text-decoration: none;
    color : var(--orange-accent);
    padding: 0.8% 2.5%;
    font-weight: 700;
}
.home .btn:hover {
    transition: 0.5s;
    background-color: var(--orange-accent);
    color: white;
    border-radius: 5px;
}
.home-content {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}
/* Works */
.works {
    height: fit-content;
    min-height: 100vh;
    position: relative;
}
.works-content {
    width: 100%;
}
.title {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.title h1 {
    width: fit-content;
    line-height: 0;
    vertical-align: baseline;
}
.title h1 span {
    color: var(--orange-accent);
}
.title .line {
    margin: 0;
    width: 85%;
    height: 5px;
    vertical-align: baseline;
}
.projects {
    margin-bottom: 100px;
    display: grid;
    gap: 10px;
    margin: auto;
    grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 800px) {
    .main-container {
        width: 100%;
    }
    .social-media {
        display: none;
    }
    /* Home */
    .home .btn {
        padding: 1.5% 3%;
    }
    .content {
        width: 76vw;
    }
    .title{
        display: block;
    }
    .title h1 {
        padding-bottom: 20px;
    }
    .title .line {
        height: 1.5px;
        width: 100%;
        margin-bottom: 20px;
    }
    /* Works */
    .projects {
        display: block;
    }
}